<!DOCTYPE html>
<html>
<head>
 

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    * {
        box-sizing: border-box;
    }
    #reminder-content{
        margin: 10px 10px;
        width: 30%;
        height: 10vh;
    }
    
    #set-time-btn{
      width: 33vw;
      margin-top: 25px;
    }

    #send-success{
        color:lightseagreen;
    }

    .send-failure{
        color: indianred;
    }
  </style>
</head>
<body>
  <div id="app">
   
    <v-form v-model="valid">
      <template>
        <v-app id="sandbox">
          <v-navigation-drawer
            v-model="primaryDrawer.model"
            :clipped="primaryDrawer.clipped"
            :floating="primaryDrawer.floating"
            :mini-variant="primaryDrawer.mini"
            :permanent="primaryDrawer.type === 'permanent'"
            :temporary="primaryDrawer.type === 'temporary'"
            app
            overflow
          ></v-navigation-drawer>

          <v-app-bar
            :clipped-left="primaryDrawer.clipped"
            app
          >
            <v-app-bar-nav-icon
              v-if="primaryDrawer.type !== 'permanent'"
              @click.stop="primaryDrawer.model = !primaryDrawer.model"
            ></v-app-bar-nav-icon>
            <v-toolbar-title>Remind Me</v-toolbar-title>
          </v-app-bar>

          <v-content>
            <v-container fluid>
              <v-row
                align="center"
                justify="center"
              >
                <v-col cols="10">
                  <v-card>
                    <v-card-text>
                      <v-row>
                        <!-- Choose Destination Column -->
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <span>Choose Destination</span>
                            <div v-for="user in users">
                              <v-switch
                                primary
                                v-model="user.checked"
                                :label="user.name"
                                :input-value="user.checked"
                                @change="updateTextAreaLabel()"
                              ></v-switch>
                            </div>

                          <!-- Text Area -->
                          <v-textarea
                            v-model="content"
                            label="Message"
                            counter
                            :maxlength="100"
                            :clearable="true"
                            :filled="true"
                            :label="textAreaLabel"
                            :loading="textAreaLoading"
                            :placeholder="placeholder"
                            :row-height="rowHeight"
                            :rows="rows"
                            required
                          ></v-textarea>
                        </v-col>

                        <v-col
                          cols="12"
                          md="6"
                        >
                          <!-- Choose Date  -->
                          <span>Pick Date</span>
                          <v-menu
                            ref="nowMenu"
                            v-model="nowMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="currentDate"
                            transition="scale-transition"
                            min-width="290px"
                            offset-y
                            full-width
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="currentDate"
                                label="Today"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="currentDate"
                              color="green lighten-1"
                              no-title
                              scrollable
                            >
                              <div class="flex-grow-1"></div>
                              <v-btn
                                text
                                color="primary"
                                @click="nowMenu = false"
                              >
                                Cancel
                              </v-btn>
                              <v-btn
                                text
                                color="primary"
                                @click="$refs.nowMenu.save(currentDate)"
                              >
                                OK
                              </v-btn>
                            </v-date-picker>
                          </v-menu>

                          <!-- Choose Time  -->
                          <v-row justify="center">
                            <v-dialog v-model="timeDialog" persistent max-width="600px">
                              <template v-slot:activator="{ on }">
                                <v-btn id="set-time-btn" color="success" dark v-on="on">Set Time</v-btn>
                              </template>
                              <v-card>
                                <v-card-title>
                                  <span class="headline">Reminder Time</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-row justify="center">
                                      <v-time-picker
                                        v-model="currentTime"
                                        v-bind:ampm-in-title="true"
                                        format="ampm"
                                      ></v-time-picker>
                                    </v-row>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <div class="flex-grow-1"></div>
                                  <v-btn color="blue darken-1" text @click="timeDialog = false">Close</v-btn>
                                  <v-btn color="blue darken-1" text @click="timeDialog = false">Save</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-card-text>
                    
                    <v-card-actions>
                      <div class="flex-grow-1"></div>
                      <v-btn
                        text
                        color="primary"
                        v-on:click="sendReminder"
                      >Submit</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
              <!-- Error Dialog -->
              <v-dialog v-model="sendErr" persistent max-width="600px">
                <v-card>
                  <!--TITLE  -->
                  <v-card-title>
                    <span class="headline send-failure">Error Message</span>
                  </v-card-title>
                  <!-- TEXT -->
                  <v-card-text>
                    <span>{{ errWithSend }}</span>
                  </v-card-text>
                  <!-- Actions -->
                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                      color="blue darken-1" 
                      text
                      @click="closeErrorDialog"
                    >Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
               
               <!-- Success Snackbar -->
              <v-snackbar
                v-model="responseSaved"
                color="success"
                :timeout="6000"
                :top="true"
              >
                Successfully Saved Reminder.
                <v-btn
                  dark
                  text
                  @click="responseSaved = false"
                >
                  Close
                </v-btn>
              </v-snackbar>

            </v-container>
          </v-content>

          <v-footer
            :inset="footer.inset"
            app
          >
            <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
          </v-footer>
        </v-app>
      </template>
    </v-form>
  </div>

<!--Vue Dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <!-- Source JS -->
  <script>
    // ====================== //
    // Business Logic Helpers //
    // ====================== //
    function User(name, number, checked = false) {
        this.name = name;
        this.number = number;
        this.checked = checked;
    }

    User.prototype.getNumber = function() {
      return this.number;
    }

    User.prototype.isChecked = function() {
      return this.checked;
    }

    User.prototype.getName = function() {
      return this.name;
    }

    function getLabelForTextArea(users) {
      let result = "";
      if (users.length > 0) {
        result += "To: "
      }
      
      users.forEach(v => {
        if (v.isChecked()) {
          result += `${v.getName()}, `;
        }
      });

      return result;
    }
  </script>
  
  <script> 
    // ============== //
    // Default States //
    // ============== //
    const stateDefaults = {
      getReminderDefaults() {
        return {
          content: "",
          users: [
            new User("Thai", "7073447433", true),
            new User("Chipi", "7073866800"),
          ],
          errWithSend: "",
          sendErr: false,
          responseSaved: false,
          valid: false,
        };
      },
      getUserDefaults() {
        return {
        };
      },
      getDatePickerDefaults() {
        return {
          nowMenu: false,
          currentDate: formatDate(new Date()),
        };
      },
      getTimePickerDefaults() {
        return {
          currentTime: formatTime(new Date()),
          timeDialog: false,
        };
      },
      getTextAreaDefaults() {
        return {
          counter: 0,
          textAreaLabel: getLabelForTextArea(this.getReminderDefaults().users),
          textAreaLoading: false,
          placeholder: 'do the dishes...',
          maxTextLength: 40,
          rowHeight: 24,
          rows: 1,
        };
      },
      getLayoutDefaults() {
        return {
          drawers: ['Default (no property)', 'Permanent', 'Temporary'],
          primaryDrawer: {
            model: null,
            type: 'default (no property)',
            clipped: false,
            floating: false,
            mini: false,
          }
        };
      },
      getFooterDefaults() {
        return {
          footer: {
              inset: false,
          },
        };
      },
    }
  </script>

  <script>
  // ===================== //
  // Date and Time Helpers //
  // ===================== //

    function formatTime(date) {
        const d = new Date(date); 
        const hours = d.getHours();
        const minutes = d.getMinutes();
        const seconds = d.getSeconds();
    
        return `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`
    }

    function formatDate(date) {
        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [year, month, day].join('-');
    }

    function getAsDate(day, time) {
        var hours = Number(time.match(/^(\d+)/)[1]);
        var minutes = Number(time.match(/:(\d+)/)[1]);
        var AMPM = time.match(/\s(.*)$/)[1];
        if(AMPM == "pm" && hours<12) hours = hours+12;
        if(AMPM == "am" && hours==12) hours = hours-12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if(hours<10) sHours = "0" + sHours;
        if(minutes<10) sMinutes = "0" + sMinutes;
        time = sHours + ":" + sMinutes + ":00";
        var d = new Date(day);
        var n = d.toISOString().substring(0,10);
        var newDate = new Date(n+"T"+time);
        console.log("returning new date", newDate);
        return newDate;
    }

    function formatAMPM(hours, minutes) {
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    function formatMMDDYYY(date) {
        date = date.split("-")
        const month = date[1];
        const year = date[0];
        const day = date[2];

        return `${month}/${day}/${year}`;
    }
  </script>

  <script>
    // ============ //
    // ERROR HELPER //
    // ============ //

    function ErrObj(message, state = null) {
        this.message = message;
        this.state = state;
    }

    ErrObj.prototype.log = function() {
        console.error(`message: ${this.message} \n state: ${this.state} \n`);
        return this;
    }

    ErrObj.prototype.throw = function() {
        throw this.message;
    }

    ErrObj.prototype.message = function() {
        return `${this.message}`;
    }

  </script>
  
  <script>
  // ================= //
  // Vue Logic Helpers //
  // ================= //
  new Vue({
    el: '#app',
    vuetify: new Vuetify({
      theme: {
        dark: true,
      },
    }),
    data: () => ({
      ...stateDefaults.getReminderDefaults(),
      ...stateDefaults.getUserDefaults(),
      ...stateDefaults.getDatePickerDefaults(),
      ...stateDefaults.getTimePickerDefaults(),
      ...stateDefaults.getTextAreaDefaults(),
      ...stateDefaults.getLayoutDefaults(),
      ...stateDefaults.getFooterDefaults(),
    }),
    methods: {
      sendReminder: async function (event) {
        // trigger loading for text area
        this.textAreaLoading = true;  
        
        event.preventDefault();
        try {
            const body = {
                name: "Username",
                destinations: this.getDestinations(),
                content: this.getContent(),
                expire: this.getUIDateTime(),
            };
            const request = {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                },  
                body: JSON.stringify(body),
            };
            console.debug("Sending reminder body : ", body);
            const originalURL = 'http://localhost:8080/remind';
            const response = await fetch(originalURL, request);
            
            // trigger loading finished for text area
            this.textAreaLoading = false;
            
            const res = await response.json();
            if (res.error != null) {
              new ErrObj(res.error.message, res.error.code)
                .log().throw()
            }
            console.log("res", JSON.stringify(res));
            
            this.triggerSuccess();
        } catch (err){
            this.textAreaLoading = false;
            this.triggerError(err);
        }  
      },
      triggerError: function (err) {
          this.sendErr = true;
          this.errWithSend = `${err}`;
      },
      closeErrorDialog: function() {
        this.sendErr = false;
        this.errWithSend = "";
      },
      triggerSuccess: function () {
          this.responseSaved = true;
      },
      closeSuccessDialog: function() {
        this.responseSaved = false
      },
      resetState: function() {
          const defaultState = stateDefaults.getReminderDefaults()
          for (key in defaultState) {
              this[key] = defaultState[key];
          }
      },
      getUIDateTime: function() {
          const timeData = this.currentTime.slice().split(":");
          const hours = timeData[0];
          const minutes = timeData[1];

          const currentDate = this.currentDate.slice();
          const formattedDate = formatMMDDYYY(currentDate);
          const date = getAsDate(formattedDate, formatAMPM(hours, minutes));

          if (date.getTime() < new Date().getTime()) {
              return new ErrObj(`Time has been surpassed ${new Date(date.getTime())}`, this.currentTime)
                  .log()
                  .throw();
          }

          return date.getTime();
      },
      getDestinations: function() {
        const phoneNumbers = this.users.reduce((acc, v) => {
          if (v.isChecked()) {
            acc.push(v.getNumber());
          }

          return acc;
        }, []);

        if (phoneNumbers.length === 0) {
            return new ErrObj(
                'Failed precondition. \nPlease check the destinations phone number.',
                phoneNumbers
            ).log().throw();
        }

        return phoneNumbers;
      },
      getContent: function() {
          if (!this.content) {
              return new ErrObj(
                  'Failed precondition. \nPlease check the message content textbox.',
                  this.content
              ).log().throw();
          }

          return this.content;
      },
      updateTextAreaLabel() {
        this.textAreaLabel = getLabelForTextArea(this.users)
      },
    },
  })
    
  </script>
</body>
</html>