<!DOCTYPE html>
<html>
<head>
 

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    * {
        box-sizing: border-box;
    }
    #reminder-content{
        margin: 10px 10px;
        width: 30%;
        height: 10vh;
    }
    
    #set-time-btn{
      width: 33vw;
      margin-top: 25px;
    }

    #send-success{
        color:lightseagreen;
    }

    .send-failure{
        color: indianred;
    }
  </style>
</head>
<body>
  <div id="app">
   
    <v-form v-model="valid">
      <template>
        <v-app id="sandbox">
          <v-navigation-drawer
            v-model="primaryDrawer.model"
            :clipped="primaryDrawer.clipped"
            :floating="primaryDrawer.floating"
            :mini-variant="primaryDrawer.mini"
            :permanent="primaryDrawer.type === 'permanent'"
            :temporary="primaryDrawer.type === 'temporary'"
            app
            overflow
          ></v-navigation-drawer>

          <v-app-bar
            :clipped-left="primaryDrawer.clipped"
            app
          >
            <v-app-bar-nav-icon
              v-if="primaryDrawer.type !== 'permanent'"
              @click.stop="primaryDrawer.model = !primaryDrawer.model"
            ></v-app-bar-nav-icon>
            <v-toolbar-title>Remind Me</v-toolbar-title>
          </v-app-bar>

          <v-content>
            <v-container fluid>
              <v-row
                align="center"
                justify="center"
              >
                <v-col cols="10">
                  <v-card>
                    <v-card-text>
                      <v-row>
                        <!-- Choose Destination Column -->
                        <v-col
                          cols="12"
                          md="6"
                        >
                          <span>Choose Destination</span>
                            <div v-for="user in users">
                              <v-switch
                                primary
                                v-model="user.checked"
                                :label="user.name"
                                :input-value="user.checked"
                                @change="updateTextAreaLabel()"
                              ></v-switch>
                            </div>

                          <!-- Text Area -->
                          <v-textarea
                            v-model="content"
                            label="Message"
                            counter
                            :maxlength="100"
                            :clearable="true"
                            :filled="true"
                            :label="textAreaLabel"
                            :loading="textAreaLoading"
                            :placeholder="placeholder"
                            :row-height="rowHeight"
                            :rows="rows"
                            required
                          ></v-textarea>
                        </v-col>

                        <v-col
                          cols="12"
                          md="6"
                        >
                          <!-- Choose Date  -->
                          <span>Pick Date</span>
                          <v-menu
                            ref="nowMenu"
                            v-model="nowMenu"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            :return-value.sync="currentDate"
                            transition="scale-transition"
                            min-width="290px"
                            offset-y
                            full-width
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="currentDate"
                                label="Today"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="currentDate"
                              color="green lighten-1"
                              no-title
                              scrollable
                            >
                              <div class="flex-grow-1"></div>
                              <v-btn
                                text
                                color="primary"
                                @click="nowMenu = false"
                              >
                                Cancel
                              </v-btn>
                              <v-btn
                                text
                                color="primary"
                                @click="$refs.nowMenu.save(currentDate)"
                              >
                                OK
                              </v-btn>
                            </v-date-picker>
                          </v-menu>

                          <!-- Choose Time  -->
                          <v-row justify="center">
                            <v-dialog v-model="timeDialog" persistent max-width="600px">
                              <template v-slot:activator="{ on }">
                                <v-btn id="set-time-btn" color="success" dark v-on="on">Set Time</v-btn>
                              </template>
                              <v-card>
                                <v-card-title>
                                  <span class="headline">Reminder Time</span>
                                </v-card-title>
                                <v-card-text>
                                  <v-container>
                                    <v-row justify="center">
                                      <v-time-picker
                                        v-model="currentTime"
                                        v-bind:ampm-in-title="true"
                                        format="ampm"
                                      ></v-time-picker>
                                    </v-row>
                                  </v-container>
                                </v-card-text>
                                <v-card-actions>
                                  <div class="flex-grow-1"></div>
                                  <v-btn color="blue darken-1" text @click="timeDialog = false">Close</v-btn>
                                  <v-btn color="blue darken-1" text @click="timeDialog = false">Save</v-btn>
                                </v-card-actions>
                              </v-card>
                            </v-dialog>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-card-text>
                    
                    <v-card-actions>
                      <div class="flex-grow-1"></div>
                      <v-btn
                        text
                        color="primary"
                        v-on:click="sendReminder"
                      >Submit</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
              <!-- Error Dialog -->
              <v-dialog v-model="sendErr" persistent max-width="600px">
                <v-card>
                  <!--TITLE  -->
                  <v-card-title>
                    <span class="headline send-failure">Error Message</span>
                  </v-card-title>
                  <!-- TEXT -->
                  <v-card-text>
                    <span>{{ errWithSend }}</span>
                  </v-card-text>
                  <!-- Actions -->
                  <v-card-actions>
                    <div class="flex-grow-1"></div>
                    <v-btn
                      color="blue darken-1" 
                      text
                      @click="closeErrorDialog"
                    >Close</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
               
               <!-- Success Snackbar -->
              <v-snackbar
                v-model="responseSaved"
                color="success"
                :timeout="6000"
                :top="true"
              >
                Successfully Saved Reminder.
                <v-btn
                  dark
                  text
                  @click="responseSaved = false"
                >
                  Close
                </v-btn>
              </v-snackbar>

            </v-container>
          </v-content>

          <v-footer
            :inset="footer.inset"
            app
          >
            <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
          </v-footer>
        </v-app>
      </template>
    </v-form>
  </div>

<!--Vue Dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <!-- Source JS -->
  <script src="./index.js"></script>
  <script src="./app.js"></script>
</body>
</html>